extends layout.pug

block content
	//- TopBar
	section.m-section.topBar
		.m-center
			.topBar-cont
				span.mx-cont__user #{user}
				a(href="/logout").topBar-cont__logout Salir

	section.m-section
		.m-center
			.createEvent
				h1.createEvent__title Administra Todos tus Eventos
				form(method="post" action="/actualizar/" + data._id).m-modal-popup-content
					input(type="hidden", name="_method", value="PUT")
					input(type="hidden", name="_id", value=data._id.toString())
					.m-modal-popup-content__label Nombre:
					input(type="text" name="name" placeholder=data.name, value=data.name).mx-modal-popup-content__input
					.m-modal-popup-content__label Fecha:
					input(type="date" name="date" value=data.date).mx-modal-popup-content__input
					button.mx__createEvent guardar
